*{
  margin:0px ;
}
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Montserrat', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
p{
  font-size: 15px;
}
.smallimg{
  /* height:200px; */
  width:100% !important ;
  border-radius: 5px !important;
} 

h1{
  font-size:20px !important
}

.row {
  margin-right: 0px;
}
.btn{
  background-color: #2a8478;
  color: white;
  border-color: #2a8478;
  box-shadow: none;
  font-size: small;
  margin-left: 10px;
  margin-right: 5px;
}
.bs{
  /* margin: 5px; */
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 5px;
  background-color: #1c877a6c;
}

.bigimg{
  height: 400px;
  width: 100%;
  border-radius: 5px;
 
}
.d-block{
  height: 300px;
}

input {
  box-shadow: none;
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 5px;
  height: 50px;
  width: 540px;
  margin: 10px;
  
}
.form-control{
  height: 31px;
  margin-top: 10px;
}
.cee{
  text-align: center;
  font-size: 40px;
  font-weight: bold;
}

.navbar{
  background-color: #2a8478; ;
  height: 80px;
  /* padding: 20px; */
  
}
.nav-link:hover{
  color:#25bfab;
  font-weight: bolder;
}
.navbar-brand:hover{
  color: #074b42;
  font-weight: bolder;
}
.nav-link{
  color: rgb(102, 51, 0);
  /* background-color: blue; */
}
.navbar-brand{
  color:black;
}
.navbar-nav{
  margin-left: auto;
  padding: 20px;
}
.nav-item{
  padding: 10px;
}

.landing{
  background: url('images/hotelogo.png') no-repeat;
  background-size: 1500px 1000px;
  overflow: hidden;
  height: 591px;
  padding-top: 120px;
  width: 210.3vh ;
}
.landing1{

  background-image: url('https://img.freepik.com/free-vector/soft-green-watercolor-texture-elegant-background_1055-8764.jpg?size=626&ext=jpg&ga=GA1.1.1780900229.1708019137&semt=ais');
    /* -webkit-backdrop-size:cover; */
    background-size:cover;
    background-repeat: no-repeat;
    /* background-position:center center; */
    height: 100%;
  /* background: url('images/design.png') ;
  background-size: 1500px 100% ; */
}

.landing2{

  background-image: url('https://img.freepik.com/free-vector/soft-green-watercolor-texture-elegant-background_1055-8764.jpg?size=626&ext=jpg&ga=GA1.1.1780900229.1708019137&semt=ais');
  background-size: cover;
  background-repeat: no-repeat;
  height: 540px;
  /* -webkit-backdrop-size:cover;
  
  
  background-position:center center; */
  /* height: 100%;
  width: 100%; */

}
.landingbtn{
  background-color: black;
  color: white;
  margin-top: 20px;
}

.underbutton{
  margin: 5px;
  margin-left: 10px;
}
