*{
  margin:0px ;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Montserrat', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
p{
  font-size: 15px;
}
.smallimg{
  /* height:200px; */
  width:100% !important ;
  border-radius: 5px !important;
} 

h1{
  font-size:20px !important
}
.btn{
  background-color: #2c5245;
  color: white;
  border-color: black;
  box-shadow: none;
  font-size: small;
  margin-left: 10px;
  margin-right: 5px;
}
.bs{
  margin: 30px;
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 5px;
  background-color: rgba(162, 167, 154, 0.791);
  
}
.bs1{
  padding: 30px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 5px;
  background-color: rgba(162, 167, 154, 0.791);
  
}

.bigimg{
  height: 400px;
  width: 100%;
  border-radius: 5px;
 
}
.d-block{
  height: 300px;
}

input {
  box-shadow: none;
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 5px;
  height: 50px;
  width: 540px;
  margin: 10px;
  
}
.form-control{
  height: 31px;
  margin-top: 10px;
  border: 2px solid #2c5245;
}
.cee{
  text-align: center;
  font-size: 40px;
  font-weight: bold;
}

.navbar{
  background-color: #2c5245 ;
  height: 80px;
  /* padding: 20px; */
  
}
.nav-link:hover{
  color: rgb(204, 244, 244);
}
.navbar-brand:hover{
  color: rgb(162, 167, 154);
}
.nav-link{
  color: aliceblue;
  /* background-color: blue; */
}
.navbar-brand{
  color:white;
  font-family: 'Poppins', sans-serif;
  font-size: 21px;
}
.navbar-nav{
  margin-left: auto;
  padding: 20px;
}
.nav-item{
  padding: 10px;
}
.background {
  position: absolute;
  height: 100%;
  width: 100%;
  background: url('./images/hotel.jpg') no-repeat;
  background-size: cover;
  background-position: center;
  filter: blur(2px);
  z-index: -1;
}

.text-container {
  text-align: center;
  margin-top: 100px;
}
.header {
  text-align: center;
  font-size: 5px;
  display: flex;
  padding-left: 400px;
}
.waviy {
  position: relative;
  -webkit-box-reflect: below -20px linear-gradient(transparent, rgba(0,0,0,.2));
  font-size: 20px;
  font-weight: bold;
  padding-left: 70px;
}
.waviy span {
  font-family: 'Alfa Slab One', cursive;
  position: relative;
  backdrop-filter: blur(5px);
  display: inline-block;
  color: rgb(150, 150, 150);
  text-transform: uppercase;
  animation: waviy 1s 5s;
  animation-delay: calc(.1s * var(--i));
  
}
@keyframes waviy {
  0%,40%,100% {
    transform: translateY(0)
  }
  20% {
    transform: translateY(-20px)
  }
}

.landing1{

  /* background-image: url('images/design.png');
    -webkit-backdrop-size:cover;
    background-size:cover;
    background-repeat: no-repeat;
    background-position:center center;
    height: 100%;
  /* background: url('images/design.png') ;
  background-size: 1500px 100% ; */
  background-color: rgb(190, 192, 186);
}

.landing2{

  background-image: url('images/logi.jpg');
  background-size:cover;
  background-repeat: no-repeat;
  height: 610px;
  /* -webkit-backdrop-size:cover;
  
  
  background-position:center center; */
  /* height: 100%; */
  width: 100%;

}
.landingbtn{
  background-color: #2c5245 ;
  color: white;
  margin-top: 20px;
}

.underbutton{
  margin: 5px;
  margin-left: 10px;
}